<div class="carousel-container">
  <div class="input-container">
    <mat-card-title class="p-1">Recipes</mat-card-title>
    <input [(ngModel)]="filter" placeholder="Enter recipe filter" />
  </div>

  <div class="display-cotainer">
    <!-- Left Arrow -->
    <button mat-icon-button class="navigate-list-button" (click)="previousRecipe()" [disabled]="currentIndex === 0">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <div *ngIf="recipes.length === 0" class="no-items">
      <mat-card>
        <mat-card-content>
          <p>No recipes have been created yet !</p>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Recipe Card -->
    <mat-card class="recipe-card" *ngIf="recipes.length > 0">
      <mat-card-header>
        <mat-card-title>{{ recipes[currentIndex].name }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p class="areaTitle">Description</p> 
        <mat-chip>
          <p>{{ recipes[currentIndex].description }}</p>
        </mat-chip>
      </mat-card-content>
      
      <mat-card-footer>
        <small>Created By: {{ recipes[currentIndex].createdBy }}</small>
      </mat-card-footer>
    </mat-card>

    <!-- Right Arrow -->
    <button mat-icon-button class="navigate-list-button" (click)="nextRecipe()" [disabled]="currentIndex === recipes.length - 1">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
