<div class="carousel-container">
  <div class="input-container">
    <mat-card-title class="p-1"><span *ngIf="!userId">All</span> Recipes</mat-card-title>
    <input [(ngModel)]="filter" (ngModelChange)="onFilterChange()" placeholder="Enter recipe filter" />
  </div>

  <div class="display-cotainer">
    <!-- Left Arrow -->
    <button mat-icon-button class="navigate-list-button" (click)="previousRecipe()" [disabled]="currentIndex === 0">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <div *ngIf="filteredRecipes.length === 0" class="no-items">
      <mat-card>
        <mat-card-content>
          <p>No recipes have been created yet !</p>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Recipe Card -->
    <mat-card class="recipe-card" *ngIf="filteredRecipes.length > 0">
      <mat-card-header>
        <mat-card-title>{{ filteredRecipes[currentIndex].name }}</mat-card-title>
      </mat-card-header>
      <div class="data">
        <p class="areaTitle">Description</p> 
        <mat-chip>
          <p>{{ filteredRecipes[currentIndex].description }}</p>
        </mat-chip>
      </div>
      <div class="data">
        <p *ngIf="currentRecipeComposition.length > 0" class="areaTitle">Ingredients</p>
        <div *ngIf="productsLoaded$ | async; else loading">
          <mat-chip-set>
              <div *ngFor="let ingredient of currentRecipeComposition" class="ingredient-chip">
                <mat-chip> {{ ingredient.name }} </mat-chip>
                <mat-chip> {{ ingredient.quantity }} g </mat-chip>
                <mat-chip> {{ ingredient.value }} RON / 100 g </mat-chip>
              </div>
            <div *ngIf="currentRecipeComposition.length === 0">
              <p class="bold">No ingredients have been added</p>
            </div>
          </mat-chip-set>
        </div>
        <ng-template #loading>
          <p>Loading...</p>
        </ng-template>
      </div>
      <div class="data">
        <p class="areaTitle">Cost</p> 
        <span class="bold">{{currentEstimatedCost}} RON</span> for a meal
      </div>

    </mat-card>

    <!-- Right Arrow -->
    <button mat-icon-button class="navigate-list-button" (click)="nextRecipe()" [disabled]="currentIndex === filteredRecipes.length - 1">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
