.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%; 
    width: 100%;
    background-color: #f5f5f5; 
    margin: 0; 
  }
  
  .recipe-card {
    max-width: 400px; 
    width: 100%;
  }
  
  button {
    background-color: transparent; 
    border: none;
    cursor: pointer;
  }

  .fixInRightCorner{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
  }
  