<top-bar></top-bar>
<div class="customize-recipe-container">
  <div class="recipe-selection">
    <div class="horizontalDirection"><h3>Select a Recipe</h3> <button mat-raised-button (click)="customizeRecipe()">Add product to recipe</button></div>
    <recipe-carousel
    *ngIf="recipes.length > 0"
    [recipes]="recipes"
    (currentRecipe)="onRecipeSelected($event)">
  </recipe-carousel>
  <div *ngIf="recipes.length === 0">
    Loading...
  </div>
  <p *ngIf="!selectedRecipe && recipes.length > 0" class="no-recipe-warning">Please select a recipe.</p>
</div>

<div class="recipe-selection">
  <h3>Select a Product</h3>
  <product-carousel *ngIf="products.length > 0"
  [products]="products"
  (currentProduct)="onProductSelected($event)">
</product-carousel>
<div *ngIf="products.length === 0">
  Loading...
  </div>
    <p *ngIf="!selectedProduct && products.length > 0" class="no-recipe-warning">Please select a product.</p>
  </div>
</div>
  