/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-snackbar {
    background-color: #3370be;
    color: white;             
}

/* Form design */
.form-container {
    max-width: 550px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #3b6499;
  }

  .form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }
    
  .form-container-link {
    margin-top: 16px;
    text-align: center;
  }
  
  .form-container-link .link {
    color: #ffffff; 
    cursor: pointer;
    text-decoration: underline;
  }

  .form-container-link .link:hover {
    text-decoration: none;
  }

  /* Navigate a List Components design */
  .navigate-list-button {
    background-color: transparent;
    color: rgb(89, 89, 89);
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .navigate-list-button:hover {
    background-color: #c7e2ff;
  }

  .no-items {
    text-align: center;
  }

  mat-card-content {
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); /* Subtle shadow for depth */
    padding: 16px; /* Adds some inner space */
    margin: 16px;
    background-color: #fff; /* Ensure a clean background */
  }

  mat-chip{
    border: none;
    border-radius: 0;
  }

  mat-card-content {
    
  }
  .areaTitle{
    font-weight: bold;
    text-align: left;
  }

  .m-1 { margin: 1rem; } 
  .p-1 { padding: 1rem; }